@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(231, 231, 231);
}
.title {
  font-size: 2rem;
  font-weight: 500;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.08);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
}
.sub-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.user-actions {
  display: flex;
  width: 100%;
  gap: 10px;
}
.user-actions input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(190, 190, 190);
  outline: none;
}

.user-actions button {
  flex: 1;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: none;
  color: white;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 12px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}
.todo-list li button {
  padding: 8px 15px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  opacity: 0.7;
  margin-left: auto;
  transition: all 0.4s;
}
.todo-list li input {
  margin-right: 10px;
}
.todo-list li button:hover {
  opacity: 1;
  cursor: pointer;
}
.todo-list li button:active {
  opacity: 0.5;
  cursor: pointer;
}
.modal {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  width: 100%;
  padding: 10px;
  max-width: 400px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.08);
}
.actions-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.actions-div button {
  padding: 8px 15px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 5px;
  opacity: 0.7;

  transition: all 0.4s;
}
.actions-div button:nth-child(1) {
  background-color: green;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.modal.active {
  display: flex;
}
