* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(250, 250, 250);
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.08);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s;
}
form:hover {
  box-shadow: -5px 6px 18px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}
.form-row input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid rgb(201, 198, 198);
}
.form-row input:focus {
  border: 1px solid rgb(0, 17, 255);
}
.password-row {
  position: relative;
}
.form-row .password-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 35px;
}
.form-row input[type="submit"] {
  background-color: dodgerblue;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}
.form-row input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}
.form-row input[type="submit"]:active {
  opacity: 0.5;
  cursor: pointer;
}
/* modal */
.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.modal-content {
  width: 100%;
  max-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  box-shadow: -5px 6px 8px rgba(0, 0, 0, 0.08);
}
.modal-content div {
  display: flex;
  gap: 20px;
}
.modal-content button {
  font-size: 0.8rem;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  transition: all 0.3s;
}
.modal-content button:first-child {
  background-color: green;
}
.modal-content button:last-child {
  background-color: dodgerblue;
}
.modal-content button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal-content button:active {
  opacity: 0.5;
  cursor: pointer;
}
.modal-close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 1.5rem;
  background-color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
.modal-close-btn:hover {
  cursor: pointer;
}
.modal.active {
  transition: all 0.3s;
  display: flex;
}
